body{
    font-family: "Figtree",  "Outfit";
    height: 100vh; /* Make body take up full viewport height */
    display: flex; /* Enable flexbox on body */
    align-items: center; /* Center items vertically */
    justify-content: center;  
    background-image: url(favicon-32x32.png);
    background-repeat: repeat; 
 
}


.container{
width: 800px;
padding-top: 70px;
padding-bottom: 60px;
height: 460px;
background-color: hsl(47, 88%, 63%);
display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.content{
    background-color: hsl(0, 0%, 100%);
    width: 370px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 1);

    
}


.image{
    border-radius: 12px;
}

.paragraph-container{
    margin-right: 8px;
   
}

.button{
    border: none;
    border-radius: 5px;
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom:4px ;

}


.paragraph2{
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
}

.paragraph3{
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
}


.paragraph4{
    color: hsl(0, 0%, 42%);
    line-height: 25px;
}


.profile-picture-and-name-container{
    
    display: flex;
    flex-direction: row ;
   
    
}

.profile-picture{
    display: inline-block;
    margin-top: 20px;
    width:10%;

}


.Greg-Hooper{
    font-weight: 800;
    padding-top: 24px;
    margin-left: 9px;
    font-size: 13px;
}
